<div class="card">
    <div class="header">
        <h2>Second Sample widget</h2>
        <ul class="header-dropdown m-r--5">
            <li>
                <a href="javascript:void(0);" data-toggle="reload">
                    <i class="material-icons">loop</i>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="body">
        Test
    </div>
</div>