<div class="card stream-settings-widget">
    <div class="body">
        <form class="stream-settings-form">
            <input type="hidden" name="channel" value="{{ settings.channel }}" />
            <input type="hidden" name="token" value="{{ csrf_token('streamcontrol-ads') }}"/>
            <button class="btn btn-block btn-lg bg-purple start-ads text-lg">
                {% trans from 'streamcontrol' %}button.ads{% endtrans %}
            </button>
        </form>
    </div>
</div>
