.chat-widget .body,
.stream-widget .body
{
    position: relative;
    padding: 0px;
    line-height: 0px;
}

.chat-widget .body iframe,
.stream-widget .body iframe
{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    border:0px;
}

.chat-widget .body iframe
{
    height: 600px;
}

.stream-widget .body iframe
{
    height: 300px;
}

.timer-widget .timer-component-block
{
    margin-bottom: 0px !important;
}

.timer-widget .timer-title
{
    font-size: 18px;
    font-weight: normal;
    line-height: 42px;
    margin-bottom: 0px !important;
}

.schedule-card .schedule-item-tabs
{
    display: flex;
}

.schedule-card .schedule-item-tabs .schedule-item-tab
{
    flex: auto;
}