.login-page
{
    background-color: #4774CA;
}

.login-page .logo
{
    position: relative;
    left: 25%;
    margin-left: -50%;
}

.login-page .logo img
{
    max-width: 600px;
}

@media (max-width: 768px) {
	.login-page .logo img
	{
		max-width: 90%;
	}

	.login-page .logo
	{
		position: relative;
		left: 0px;
		margin-left: 0px;
	}
}
