<div class="card chat-widget">
    <div class="header">
        <h2>Twitch chat - {{ settings.channel }}</h2>
    </div>

    <div class="body">
        <iframe src="https://twitch.tv/{{ settings.channel }}/chat"></iframe>
    </div>
</div>
