<div class="card chat-widget">
    <div class="header">
        <h2>Twitch chat - {{ settings.channel }}</h2>
    </div>

    <div class="body">
        {% if settings.light_chat is defined and settings.light_chat == "1" %}
            <iframe src="https://nightdev.com/hosted/obschat/?theme=light&channel={{ settings.channel }}&fade=false&bot_activity=true&prevent_clipping=false"></iframe>
        {% else %}
            <iframe src="https://www.twitch.tv/embed/{{ settings.channel }}/chat"></iframe>
        {% endif %}
    </div>
</div>
