<div class="card">
    <div class="header">
        <h2>Welcome to Hedgebot !</h2>
    </div>

    <div class="body">
        <p>
            It seems that you haven't configured yet your dashboard ! Your dashboard will allow you to have at a glance all the quick info and quick
            settings you need, right when you just logged in ! To configure it, just go to the <a href="{{ path("settings_widgets") }}">Widget settings page</a>.
        </p>
    </div>
</div>
