/* Global layout */

/* Navbar behavior overriding */

.navbar-brand picture
{
    display: block;
    position: absolute;
    top: 5px;
}

.navbar .navbar-nav.navbar-right {
        margin-right: 0;
    }


@media (max-width: 768px) {
	.navbar-brand img {
		max-height: 60px;
	}
	
	.navbar .navbar-header {
		width: auto;
	    margin-bottom: -5px;
	}
	
    .navbar .navbar-nav {
        margin: 0;
    }
    
    .navbar .js-right-sidebar {
        margin-top: 17px;
    }
}



.sidebar .user-info
{
    background-repeat: repeat;
}

.sidebar .user-info
{
    height: auto;
}

.sidebar .user-info .info-container
{
    top: 0px;
}

.sidebar .user-info .info-container .user-helper-dropdown
{
    bottom: -6px;
}

.sidebar .user-info .info-container .user-helper-dropdown a
{
    color: white;
}

.block-header h1
{
    margin: 0 !important;
    color: #666 !important;
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px -1px 0px #fff;
}

.block-header
{
    text-transform: uppercase;
}

/* Menu */

.sidebar .menu .list i {
    margin-top: 4px;
    font-size: 24px;
}

/* Settings right sidebar */

.right-sidebar .nav-tabs li:only-child
{
    width: 100%;
}

.right-sidebar p 
{
    margin: 20px 15px 15px 15px;
    font-weight: bold;
    
    text-transform: uppercase;
    text-align: center;
}

.right-sidebar .settings .setting-list
{
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.right-sidebar .settings .setting-list li
{
    padding: 15px;
    position: relative;
    border-top: 1px solid #eee;
}

.right-sidebar .settings .setting-list li .switch
{
    position: absolute;
    top: 15px;
    right: 5px;
}

/* Web 2.0 thingy */

#options-indicator
{
    position: absolute;
    right: 30px;
    top: 100px;
    
    color: #555;
    
    font-family: 'Indie Flower', cursive;
    font-size: 1.75em;
}


#options-indicator img
{
    position: relative;
    top: -20px;
    opacity: 0.65;
}

#options-indicator img.arrow-shadow
{
    position: relative;
    left: -57px;
    top: -21px;
    z-index: -1;
    filter: invert(100%);
    opacity: 1;
}

/* Switch tweaks */

.switch.switch-inline
{
    display: inline-block;
}

.right-row .checkbox
{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-main-action
{
    position: relative;
    top: 1em;
}

.form-main-action .btn-lg
{
    font-size: 16px !important;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bold;
}

/* Input tweaks */
.form-group .form-line.disabled:after
{
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.form-float .input-group .form-control
{
    z-index: 0;
}

.form-float .bootstrap-select > .dropdown-toggle
{
    z-index: 0;
}
/* 
.form-float .bootstrap-select > .dropdown-toggle .filter-option
{
    opacity: 0;
}

.form-float .focused .bootstrap-select > .dropdown-toggle .filter-option
{
    opacity: 1;
} */

/* Table tweaks */

.table > tbody > tr > td {
    vertical-align: middle;
}

/* Store autocomplete */

.store-dropdown
{
    position: absolute;
    z-index: 10000;
    width: 100%;
    margin-top: 10px;
    max-height: 200px;

    overflow-y: auto;
}

.store-dropdown .autocomplete-option
{
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.store-dropdown .autocomplete-option.active
{
    color: white;
    background-color: #1f91f3;
}

.autocomplete-loader {
    width: 1em;
    height: 1em;
    margin: auto;
    font-size: 30px;
    margin-top: 10px;
    color: #1f91f3;

    border: .2em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    animation: 1s loader-05 linear infinite;
    position: relative;
}
.autocomplete-loader:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: -.2em;
    left: -.2em;
    border: .2em solid currentcolor;
    border-radius: 50%;
    opacity: .5;
}

@keyframes loader-05 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* CSS responsive button block toggle classes */

@media (max-width: 767px) {
    .btn-xs-block {
        display: block;
        width: 100%;
    }
    input[type="submit"].btn-xs-block,
    input[type="reset"].btn-xs-block,
    input[type="button"].btn-xs-block {
        width: 100%;
    }
    .btn-block + .btn-xs-block,
    .btn-xs-block + .btn-block,
    .btn-xs-block + .btn-xs-block {
        margin-top: 0.5rem;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .btn-sm-block {
        display: block;
        width: 100%;
    }
    input[type="submit"].btn-sm-block,
    input[type="reset"].btn-sm-block,
    input[type="button"].btn-sm-block {
        width: 100%;
    }
    .btn-block + .btn-sm-block,
    .btn-sm-block + .btn-block,
    .btn-sm-block + .btn-sm-block {
        margin-top: 0.5rem;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .btn-md-block {
        display: block;
        width: 100%;
    }
    input[type="submit"].btn-md-block,
    input[type="reset"].btn-md-block,
    input[type="button"].btn-md-block {
        width: 100%;
    }
    .btn-block + .btn-md-block,
    .btn-md-block + .btn-block,
    .btn-md-block + .btn-md-block {
        margin-top: 0.5rem;
    }
}
@media (min-width: 1200px) {
    .btn-lg-block {
        display: block;
        width: 100%;
    }
    input[type="submit"].btn-lg-block,
    input[type="reset"].btn-lg-block,
    input[type="button"].btn-lg-block {
        width: 100%;
    }
    .btn-block + .btn-lg-block,
    .btn-lg-block + .btn-block,
    .btn-lg-block + .btn-lg-block {
        margin-top: 0.5rem;
    }
}

.card .body .form-group .col-xs-1,
.card .body .form-group .col-sm-1,
.card .body .form-group .col-md-1,
.card .body .form-group .col-lg-1
{
    margin-bottom: 0px;
}

.card .body .form-group .col-xs-2,
.card .body .form-group .col-sm-2,
.card .body .form-group .col-md-2,
.card .body .form-group .col-lg-2
{
    margin-bottom: 0px;
}

.card .body .form-group .col-xs-3,
.card .body .form-group .col-sm-3,
.card .body .form-group .col-md-3,
.card .body .form-group .col-lg-3
{
    margin-bottom: 0px;
}

.card .body .form-group .col-xs-4,
.card .body .form-group .col-sm-4,
.card .body .form-group .col-md-4,
.card .body .form-group .col-lg-4
{
    margin-bottom: 0px;
}

.card .body .form-group .col-xs-5,
.card .body .form-group .col-sm-5,
.card .body .form-group .col-md-5,
.card .body .form-group .col-lg-5
{
    margin-bottom: 0px;
}

.card .body .form-group .col-xs-6,
.card .body .form-group .col-sm-6,
.card .body .form-group .col-md-6,
.card .body .form-group .col-lg-6
{
    margin-bottom: 0px;
}

.card .body .form-group .col-xs-7,
.card .body .form-group .col-sm-7,
.card .body .form-group .col-md-7,
.card .body .form-group .col-lg-7
{
    margin-bottom: 0px;
}

.card .body .form-group .col-xs-8,
.card .body .form-group .col-sm-8,
.card .body .form-group .col-md-8,
.card .body .form-group .col-lg-8
{
    margin-bottom: 0px;
}

.card .body .form-group .col-xs-9,
.card .body .form-group .col-sm-9,
.card .body .form-group .col-md-9,
.card .body .form-group .col-lg-9
{
    margin-bottom: 0px;
}

.card .body .form-group .col-xs-10,
.card .body .form-group .col-sm-10,
.card .body .form-group .col-md-10,
.card .body .form-group .col-lg-10
{
    margin-bottom: 0px;
}

.card .body .form-group .col-xs-11,
.card .body .form-group .col-sm-11,
.card .body .form-group .col-md-11,
.card .body .form-group .col-lg-11
{
    margin-bottom: 0px;
}

.card .body .form-group .col-xs-12,
.card .body .form-group .col-sm-12,
.card .body .form-group .col-md-12,
.card .body .form-group .col-lg-12
{
    margin-bottom: 0px;
}