{% extends 'core/base.html.twig' %}
{% block title %}Gotta go fast ;){% endblock %}


{% block content %}
    <div class="text-center">
        <img src="https://i.imgur.com/bZMynfI.gif" height="600px" />
    </div>
{% endblock %}
