<div class="card">
    <div class="body">
        <a class="btn btn-lg btn-block btn-primary" href="{{ path('custom_calls_execute', {'id': settings.call}) }}">
            {{ settings.label }}
        </a>
    </div>
</div>